html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* PINK: #ce98da; */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic"); /* host these locally later */
* {
  box-sizing: border-box;
}
body {
  background: #151515;
  color: #BCBCBC;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.wrapper {
  max-width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
nav.user {
  background: #000;
  line-height: 40px;
  font-size: 14px;
  width: 100%;
}
nav.user .wrapper {
  display: flex;
  flex-direction: row;
}
nav.user .left {
  flex-grow: 1;
}
nav.user .left ul li {
  display: inline-block;
}
nav.user .left ul li a:not(:hover) {
  color: inherit;
}
nav.user .left ul li:not(:first-of-type) {
  margin-left: 10px;
}
nav.user .right {
  text-align: right;
}
nav.user a {
  color: #ce98da;
}
header {
  opacity: 0.8;
  height: 80px;
  line-height: 80px;
  width: 100%;
  transition: 300ms;
}
header a {
  color: inherit;
  pointer-events: initial;
}
header .wrapper {
  display: flex;
  flex-direction: row;
}
header h1 {
  font-size: 30px;
}
header h1 i.fa {
  font-size: 20px;
  position: relative;
  left: -5px;
  top: -2px;
  transform: rotate(-35deg);
}
header h1 i {
  color: #ce98da;
}
header ul {
  flex-grow: 1;
  text-align: right;
}
header ul li {
  font-size: 16px;
  display: inline-block;
}
header ul li:not(:last-of-type) {
  margin-right: 15px;
}
header ul li a:hover {
  color: #ce98da;
}
header.scroll {
  opacity: 1;
  background: #222;
  height: 50px;
  line-height: 50px;
}
.above_fold {
  background: #222 url("/public/images/backgrounds/background-1.jpg");
  background-size: cover;
  background-position: 50% 0%;
  height: 100vh;
  width: 100vw;
}
.above_fold .inner_bg {
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 300ms;
}
body.is-dragover .above_fold .inner_bg {
  background: rgba(0, 0, 0, 0.9);
}
.file_select {
  display: inline-block;
  padding: 15px;
  border: 2px solid #BCBCBC;
  cursor: pointer;
  transition: 300ms;
  opacity: 0.7;
}
.file_select:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
}
.uploads {
  padding: 50px 0;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  display: none;
}
.uploads h2 {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}
#upload-list {
  margin: 0 auto;
  max-width: 400px;
}
#upload-list li {
  font-size: 18px;
}
#upload-list li:not(:first-of-type) {
  margin-top: 15px;
}

#upload-list a {
  color: #ce98da;
  text-decoration: underline;
}

#upload-list p {
  display: inline-block;
  margin: 0;
}

#upload-list li b {
  color: #ce98da;
  float: right;
}
.page {
  margin-top: 100px;
}

.page.flex {
  margin-top: 0;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page .form_boxed {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #333;
  border-radius: 3px;
}

.page .form_boxed h2 {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.page .form_boxed .errors {
  color: red;
  border: 1px solid red;
  padding: 5px;
  margin-bottom: 15px;
}

.page .form_boxed input, label {
  display: block;
  width: 100%;
}

.page .form_boxed input {
  border: 0px;
  padding: 3px 5px;
  font-size: 15px;
  background: #222;
  color: #ce98da;
}

.page .form_boxed label {
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.page .form_boxed .fieldset {
  margin-bottom: 15px;
}

.page .form_boxed .hint {
  font-size: 12px;
  margin-top: 5px;
}

.page button {
  background: transparent;
  border: 1px solid #ce98da;
  color: #ce98da;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 10px;
  margin: 30px 0 0 0;
}

.page .form_boxed button {
  width: 100%;
  display: block;
  padding: 5px 0;
}

.page.single {
  padding-top: 20px;
  border-top: 1px solid #333;
  margin-top: 120px;
}

.page.single a {
  color: #ce98da;
}

.page.single h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.page.single table {
  width: 100%;
}

.page.single table tr:not(:last-of-type) td {
  padding-bottom: 5px;
}

.codeblock {
  width: 100%;
  background: #222;
  color: #888;
  border: none;
  padding: 15px;
  font-size: 12px;
  font-family: monospace;
}
